tabla8.png
berenjena.png
tabla5.png
tabla12.png
manzana.png
CGF.png
tabla9.png
tabla14.png
tabla11.png
tabla2.png
kernel1.png
tabla7.png
tabla3.png
tabla6.png
cerveza.png
tabla 13.png
tabla13.png
supportconfidence.png
tabla1.png
miquel.png
tabla10.png
gamba.png
2.png
reglas4.png
supermarket.png
py-reglas_asociacion-toslides.ipynb
